* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    font-family: 'Roboto';

} 

.wrapper {
    max-width: 1440px;
    padding: 0 16px;
    margin: 0 auto;
    justify-content: center;
}

.name {
    font-style: normal; 
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    margin-top: 100px;
    margin-left: 565px;
    color: #2D2F31;
}

.job {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    text-align: center;    
    margin-left: 565px;
    margin-top: 93px;
    color: #2D2F31;
    width: 492px;
    height: 72px;
    line-height: 70px;
    text-align: center;
    background-color: #EBEBEB; 
}

.summary-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    font-weight: 47px;
    margin-left: 565px;
    margin-top: 88px;
    color: #2D2F31;
}

.summary-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    width: 771px;
    height: 310px;
    margin-left: 565px;
    margin-top: 20px;
    color: #2D2F31;
}

.skills-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    font-weight: 47px;
    margin-left: 565px;
    margin-top: 50px;
    color: #2D2F31;    
}

.first-row {
    display: inline-block;
    margin-left: 20px;

}

.element-1 {
    font-weight: 300;
    font-size: 24px;
    height: 28px;
    margin-top: 20px;
    margin-left: 565px;
    color: #2D2F31;
}
    
.element-2 {
    font-weight: 300;
    font-size: 24px;
    height: 28px;
    margin-top: 20px;
    margin-left: 565px;
    color: #2D2F31;
}
    
.element-3 {
    font-weight: 300;
    font-size: 24px;
    height: 28px;
    margin-top: 20px;
    margin-left: 565px;
    color: #2D2F31;
}
 
.second-row {
    display: inline-block;
}

.element-4 {
    font-weight: 300;
    font-size: 24px;
    height: 28px;
    margin-top: 20px;
    margin-left: 70px;
    color: #2D2F31;
    }
    
.element-5 {
    font-weight: 300;
    font-size: 24px;
    height: 28px;
    margin-top: 20px;
    margin-left: 70px;
    color: #2D2F31;
}
    
.element-6 {
    font-weight: 300;
    font-size: 24px;
    height: 28px;
    margin-top: 20px;
    margin-left: 70px;
    color: #2D2F31;
}

.code-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    font-weight: 47px;
    margin-top: 50px;
    margin-left: 565px;
    color: #2D2F31; 
}

.code-text {
    margin-top: 20px;
}

.code {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
    margin-left: 565px;
    border: 1px solid #CFCFCF;
    padding: 10px;
}

.project-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    font-weight: 47px;
    margin-top: 80px;
    margin-left: 565px;
    color: #2D2F31;
}

.project-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
    margin-left: 565px;
    color: #2D2F31;   
}

.english-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    font-weight: 47px;
    margin-top: 80px;
    margin-left: 565px;
    color: #2D2F31;
}

.english-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
    margin-left: 565px;
    color: #2D2F31;   
}

.hobbies-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    font-weight: 47px;
    margin-top: 50px;
    margin-left: 565px;
    color: #2D2F31;
}

.icon-hobbie {
    display: flex;
}

.icon-travel {
    Width: 50px;
    Height:50px;
    padding-top: 20px;
    padding-left: 570px;
}

.icon-music {
    height: 50px;
    width: 50px;
    padding-top: 20px;
    padding-left: 160px;
}

.hobbies-text {
    display: flex;
    margin-top: 20px;
}

.travel-p {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    margin-top: 40px;
    padding-left: 570px;
    color: #2D2F31;
}

.music-p {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    margin-top: 40px;
    padding-left: 100px;
    color: #2D2F31;
}

.footer {
    display: flex;
}

.rs-school {
    margin-left: 565px;
    margin-top: 538px;
    margin-bottom: 50px;
}

.image-rs {
    height: 51px;
    width: 138px;
}

.years-now {
    margin-top: 565px;
    margin-left: 516px;
    margin-bottom: 37px;
    color: #2D2F31;
}

.background {
    position: absolute;
    top: 688px;
    left: 0;
    box-sizing: content-box;
    width: 445px;
    height: 1750px;
    background-color: #2D2F31;
}

.absolute-position { 
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: content-box;
    width: 445px;
    height: 688px;
}

.contact-title {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 70px;
    margin-top: 100px;
    color: #FFFFFF;
}

.phone-title {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 70px;
    margin-top: 50px;
    color: #FFFFFF;
}

.phone {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 70px;
    margin-top: 20px;
    color: #FFFFFF;
}

.email-title {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 70px;
    margin-top: 30px;
    color: #FFFFFF;
}

.email {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 70px;
    margin-top: 20px;
    color: #FFFFFF;
}

.telegram-title {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 70px;
    margin-top: 30px;
    color: #FFFFFF;
}

.telegram {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 70px;
    margin-top: 20px;
    color: #FFFFFF;
}

.adress-title {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 70px;
    margin-top: 30px;
    color: #FFFFFF;
}

.adress {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 70px;
    margin-top: 20px;
    color: #FFFFFF;
}

.education-title {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 70px;
    margin-top: 70px;
    color: #FFFFFF;
}

.years {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
    margin-left: 70px;
    color: #FFFFFF;    
}

.stady {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;    
    margin-top: 20px;
    margin-left: 70px;
    color: #FFFFFF;
}

.github-icon {
    margin-left: 70px;
    margin-top: 750px;
}

.icon-git {
    height: 52px;
    width: 53px;
}